VITE_SUPABASE_URL=https://wzqmneutvtkdylvelmqc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6cW1uZXV0dnRrZHlsdmVsbXFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5OTMyNjIsImV4cCI6MjEwMzU2OTI2Mn0.2csz1LHPYnVIxb8ZN3Is6c6ZMh8frTAWJCg1N-M-6Fo
